.cv-page{
    font-size:16px;
}

h3{
    font-size:18px;
}

.hero-grid{
    display:grid;
    grid-template-columns:50% 50%;
    direction:ltr;
}

.hero-left{
    direction:rtl;
    padding-right:20px;
}

.hero-right{
    direction:rtl;
}

.full-photo{
    width:100%;
    height:400px;
    object-fit:cover;
    border-right:5px solid #0d3b66;
}
